<div class="card-deck">
  <div class="card" *ngFor="let gallery of galleries" [routerLink]="[ './', gallery._id ]">
    <img *ngIf="gallery.thumbnail" class="card-img-top" [src]="gallery.thumbnail">
    <div class="card-body">
      <h2 class="card-title">{{ gallery.name }}</h2>
      <p class="card-text">{{ gallery.name }}</p>
    </div>
  </div>

  <div class="card" [routerLink]="[ './', 'create' ]">
    <div class="card-body">
      <p class="card-text text-center"><i aria-hidden="true" class="fa fa-plus" title="Add Host Group"></i> 
      <br>Add New Gallery</p>
    </div>
  </div>
</div>
