<div>
  <button class="btn-core white" routerLink="/">Home</button>
</div>
<gallery-thumbnails></gallery-thumbnails>
<div>
  <p>We hope that everyone can help us with pictures during the wedding.  This page is provided so that anyone can contribute to the memories of the occasion.  We will have a photographer at the wedding itself, and those pictures will ultimately be posted here as well.  Due to time constraints, you may be able to delete pictures that you shouldn't. Please be courteous if you find out you can.</p>
  <p>NOTE: The gallery is a bit experimental, so if it acts strangely just let me know so I can fix it.</p>
</div>
