<div class="container">
<h1> Wedding RSVPs </h1>
<br>
  <table class="table table-striped table-bordered table-hover">
    <thead  class="thead-inverse">
      <th> Name </th>
      <th> Attending </th>
      <th> Size of Party </th>
      <th> Party Members </th>
      <th> Responded On </th>
      <th> Notes </th>
    </thead>
    <tr *ngFor="let rsvp of rsvps">
      <td>{{rsvp.name}} </td>
      <td>{{rsvp.attending}} </td>
      <td>{{rsvp.partySize}} </td>
      <td> <span *ngFor="let member of rsvp.partyMembers">
          {{member}} <br/>
        </span>
      </td>
      <td>{{rsvp.created | date}} </td>
      <th> {{rsvp.note}} </th>
    </tr>
    <tfoot>
      <tr>
      <td> Total Attending </td>
      <td> {{attendingSum}} </td>
      <td colspan="4"></td>
    </tfoot>
  </table>


</div>