<div *ngIf="user.verified" class="container form-container">
  <div class="row">
    <div class="homepage-title col-xs-12 col-md-12">
      <h1 class="page-title text-center">The Wedding of <br />Camille and Jason<br />Bennett</h1>
      <p class="home-descr text-center">The 9th of September, 2017</p>
      <br>
      <h1>Submit Your RSVP Here </h1>
      <br>
    </div>
  </div>
  <form (ngSubmit)="submit()" (keydown.enter)="$event.preventDefault()">
    <div class="row">

      <div class="col-md-6 col-xs-12">
        <div class="form-group">
          <label> Your Name </label>
          <input [(ngModel)]="Rsvp.name" class="form-control" type="text" name="name" required placeholder="Fisrt and Last name" />
        </div>
        <div class="form-check">
          <label> Will You Be Attending? </label>
          <button type="button" class="btn-core green" [ngClass]="{'inverse': Rsvp.attending == false}" (click)="setAttending(true)"> Yes </button>
          <button type="button" class="btn-core red" [ngClass]="{'inverse': Rsvp.attending == true}" (click)="setAttending(false)"> No </button>
        </div>
        <div class="form-group">
          <br>
          <label> Leave a Message Here (optional) </label>
          <textarea rows="4" [(ngModel)]="Rsvp.note" class="form-control" name="note"> </textarea>
        </div>
      </div>

      <div class="col-md-6 col-xs-12">
        <div *ngIf="Rsvp.attending" class="form-group">
          <label> Names of People in Your Party</label>
          <div class="input-group">
          <input class="form-control" [(ngModel)]="currentPartyMember" name="currentPartyMember" (keydown.enter)="partyMemberKeydown()"
          placeholder="first and last names"/>
          <button type="button" class="input-group-addon btn-core" (click)="addPartyMember()"> Add Name <i class="fa fa-user-plus"></i></button>
          </div>
          <br>
          
          <label>Your Party</label>
          <ul>
            <li *ngIf="Rsvp.name != ''"><span>(You)</span>  {{Rsvp.name}}</li>
            <li *ngFor="let member of Rsvp.partyMembers"> {{member}} <button class="btn-core red btn-sm" type="button" (click)="removePartyMember(member)"> X </button>
            </li>
          </ul>

        </div>
        <div *ngIf="!Rsvp.attending" class="form-group">
          <label> Names of People in Your Party</label>
          <ul>
            <li>N/A</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-xs-12">
        <button type="submit" class="btn-core green btn-lg">Submit</button>
      </div>
    </div>
  </form>
</div>
<div *ngIf="!user.verified" class="container form-container">
  <div class="alert alert-danger text-center">
    <strong>You must verify your account before you can RSVP</strong>
  </div>
</div>
