<div class="homepage">
  <div class="row">
    <div class="col-md-6 flex column space-around bg-img-left">
      <div class="homepage-title">
        <h1 class="page-title text-center">The Wedding of <br />Camille and Jason<br />Bennett</h1>
        <p class="home-descr text-center">The 9th of September, 2017<br />Salt Lake City</p>
      </div>
      <div *ngIf="!user"class="homepage-actions">
        <button class="btn-core white" routerLink="/signup">Create Account</button>
        <button class="btn-core white" routerLink="/signin">Log In</button>
      </div>
    </div>
    <div class="col-md-6 full-height bg-img-home"></div>
  </div>
</div>
