<div class="homepage">
  <div class="row">
    <div class="col"></div>
    <h1 class="col page-title">The Wedding of Camille and Jason Bennett</h1>
    <div class="col"></div>
  </div>
  <div class="row">
    <div class="col"></div>
    <img class="img-fluid col home-photo" src="https://s3-us-west-2.amazonaws.com/bennett-personal/weddingCover.jpg" />
    <div class="col"></div>
  </div>
  <div class="row">
    <div class="col"></div>
    <p class="col home-descr">The wedding of Camille and Jason Bennett will be on September 9th, 2017 in Salt Lake City. </p>
    <div class="col"></div>
  </div>
</div>
