<div class="row">
  <div class="col-xl-6 col-lg-6 col-md-6 col-xs-12">
    <div class="card">
      <img class="card-img-top" src="https://s3-us-west-2.amazonaws.com/bennett-personal/stormmtn2.jpg">
      <div class="card-body">
        <h4 class="card-title">Venue</h4>
        <p class="card-text">The wedding will take place in Big Cottonwood Canyon, located in the Wasatch Mountain Range on the east side of Salt Lake City.  In the canyon is a historic Ampitheater in the Storm Mountain portion of the canyon.  Seating is wood planked on stone, so bringing a cushion to sit on is suggested.  We will only have parking space for 15 vehicles, so it will be necessary to carpool to the location from the Park and Ride at the entrance to the canyon.  There is an option
        to park along side the road (which is not reserved) if you want.</p>
      </div>
    </div>
  </div>
  <div class="col-xl-6 col-lg-6 col-md-6 col-xs-12">
    <div class="card">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3601.223008643946!2d-111.74499875568334!3d40.62424660104696!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x902c02440bf8f693!2sStorm+Mountain+Picnic+Area!5e0!3m2!1sen!2sus!4v1504122485837" frameborder="0" style="border:0; height: 50vh; min-height: 300px;" allowfullscreen></iframe>
    </div>
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Time</h2>
          <p class="card-text">The wedding is planned to take place at 7PM and is expected to take from half an hour to an hour.  The reception is currently planned to take place at the ampitheater as well and will go until around 9:30PM or 10PM.</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Pastor</h2>
          <p class="card-text"><a href="https://www.facebook.com/tom.abbott.7583">Pastor Tom Abbott</a> from <a href="https://www.cottonwoodpres.org/">Cottonwood Presbyterian Church</a> will be performing the ceremony.  We have very muched enjoyed talking with him over the last several weeks and are extremely happy to have him as a part of the ceremony.</p>
        </div>
      </div>
    </div>
  </div>
