<div>
  <div>
    <button class="btn-core white" routerLink="/">Home</button>
  </div>
  <div>
    <h2>Venue</h2>
    <p>The wedding will take place in Big Cottonwood Canyon, located in the Wasatch Mountain Range on the east side of Salt Lake City.  In the canyon is a historic Ampitheater in the Storm Mountain portion of the canyon.  Seating is wood planked on stone, so bringing a cushion to sit on is suggested.  We will only have parking space for 15 vehicles, so it will be necessary to carpool to the location from the Park and Ride at the entrance to the canyon.</p>
  </div>
  <div>
    <h2>Time</h2>
    <p>The wedding is planned to take place at 7PM and is expected to take from half an hour to an hour.  The reception is currently planned to take place at the ampitheater as well and will go until around 9:30PM or 10PM.</p>
  </div>
</div>
