<nav *ngIf="this.user" class="">
  <div>
    <ul class="nav justify-content-center">
      <li *ngFor="let item of menu" class="nav-item" routerLinkActive="active">
        <a *ngIf="!item.dropdown" class="nav-link" [routerLink]="item.state" [innerHTML]="item.template"></a>
        <div *ngIf="item.dropdown" ngbDropdown routerLinkActive="active">
        
          <div  class="nav-link" ngbDropdownToggle [innerHTML]="item.template"></div>
          <div class="dropdown-menu">
            <span *ngFor="let subitem of item.subitems">
              <a href="#" *ngIf="!subitem.outlet" class="dropdown-item" [innerHTML]="subitem.template" [routerLink]="subitem.state"> 
              
              </a>
              <a href="#" *ngIf="subitem.outlet" class="dropdown-item" [innerHTML]="subitem.template" (click)="navByUrl(subitem.state)">

              </a>
            </span>
          </div>
        </div>
      </li>
      <li *ngIf="!this.user">
        <a class="nav-link" routerLink="/signin" routerLinkActive="active">Signin</a>
      </li>
      <li *ngIf="!this.user" class="nav justify-content-center">
        <a class="nav-link" routerLink="/signup" routerLinkActive="active">SignUp</a>
      </li>
      <li *ngIf="this.user" class="nav justify-content-center">
        <div ngbDropdown routerLinkActive="active">
          <a href="#" class="nav-link" ngbDropdownToggle>
          <!--TODO height/width inherit from navbar-->
          <img height="23.5px" width="23.5px" alt="profile" class="rounded-circle" [src]="user.profileImageURL">
          </a>
          <div class="dropdown-menu">
            <a href="#" class="dropdown-item" 
                    [routerLink]="[ '/profile', { outlets: { 'profile': ['edit'] }} ]">
              Edit
            </a>
            <a href="#" class="dropdown-item" 
                    [routerLink]="[ '/profile', { outlets: { 'profile': ['change-profile-picture'] }} ]">
              Change Picture
            </a>
            <a href="#" class="dropdown-item" 
                    [routerLink]="[ '/profile', { outlets: { 'profile': ['change-password'] }} ]">
              Change Password
            </a>
            <a href="#" class="dropdown-item" 
                    [routerLink]="[ '/profile', { outlets: { 'profile': ['manage-social'] }} ]">
              Manage Social
            </a>
            <a href="#" class="dropdown-item" routerLink="/signout">Sign Out</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>
